.z-number-keyboard-fade-enter-active {
  transition: all .3s ease;
}
.z-number-keyboard-fade-leave-active {
  transition: all .3s ease;
}
.z-number-keyboard-fade-enter, .z-number-keyboard-fade-leave-to {
  transform: translateY(100%);
  opacity: 0;
}

.z-number-keyboard{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f2f3f5;
}

.z-number-keyboard__content{
  display: flex;
  flex-wrap: wrap;
  padding: 6px 0 0 6px;
}

.z-number-keyboard__item{
  flex: 1;
  flex-basis: 30%;
  padding: 0 6px 6px 0;
}

.z-number-keyboard__key{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  line-height: 44px;
  color: #606266;
  background-color: #fff;
  border-radius: 8px;

  &:active{
    background-color: aqua;
  }

  .z-number-keyboard__key-delete{
    height: 20px;
  }
}
